<!DOCTYPE html>
<html lang="{{ site.lang | default: 'pl-PL' }}">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <link rel="preload" href="{{ '/assets/images/spacex.jpg' | relative_url }}" as="image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Damian Lebiedź</h1>
      <h2 class="project-tagline">PORTFOLIO</h2>
        
        <!-- Przyciski nawigacyjne -->
        <nav>
            <a href="#projekty" class="nav-button">Projekty</a>
            <a href="#o-mnie" class="nav-button">O mnie</a>
            <a href="#umiejetnosci" class="nav-button">Umiejętności</a>
        </nav>
    </header>

    <main id="content" class="main-content" role="main">
        
        <!-- Sekcja Projekty -->
        <section id="projekty">
            <div class="header-container">
                <div class="header-line"></div>
                <h1>Projekty</h1>
                <div class="header-line"></div>
            </div>
            <div class="project-container">
                <div class="project-card">
                    <a href="https://github.com/damianlebiedz/java-desktop-app" target="_blank" class="project-link">
                        <img src="/assets/images/finance-manager.png" alt="Project Image" class="project-image">
                        <div class="project-content">
                            <h2 class="project-title">java-desktop-app</h2>
                            <p class="project-description">Aplikacja desktopowa CRUD napisana w Javie do zarządzania wydatkami budżetu domowego.</p>
                            <div class="project-tags">
                                <span class="tag">Java</span>
                                <span class="tag">JavaFX</span>
                                <span class="tag">H2 Database</span>
                                <span class="tag">Maven</span>
                                <span class="tag">CSS</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="project-card">
                    <a href="https://github.com/damianlebiedz/py-credit-risk-analysis" target="_blank" class="project-link">
                        <img src="/assets/images/py-credit-risk-analysis.png" alt="Project Image" class="project-image">
                        <div class="project-content">
                            <h2 class="project-title">py-credit-risk-analysis</h2>
                            <p class="project-description">Analiza danych kredytowych w Pythonie... | W TRAKCIE TWORZENIA</p>
                            <div class="project-tags">
                                <span class="tag">Python</span>
                                <span class="tag">pandas</span>
                                <span class="tag">numpy</span>
                                <span class="tag">skikit-learn</span>
                                <span class="tag">matplotlib</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="project-card">
                    <img src="/assets/images/wkrótce.png" alt="Project Image" class="project-image">
                    <div class="project-content">
                        <h2 class="project-title">WKRÓTCE</h2>
                        <p class="project-description"></p>
                        <div class="project-tags">
                            <span class="tag"></span>
                            <span class="tag"></span>
                            <span class="tag"></span>
                        </div>
                    </div>
                </div>
                <div class="project-card">
                    <img src="/assets/images/wkrótce.png" alt="Project Image" class="project-image">
                    <div class="project-content">
                        <h2 class="project-title">WKRÓTCE</h2>
                        <p class="project-description"></p>
                        <div class="project-tags">
                            <span class="tag"></span>
                            <span class="tag"></span>
                            <span class="tag"></span>
                        </div>
                    </div>
                </div>
        </section>


        <!-- Sekcja O mnie -->
        <section id="o-mnie">
            <div class="header-container">
                <div class="header-line"></div>
                <h1>O mnie</h1>
                <div class="header-line"></div>
            </div>
            <img src="/assets/images/moje_zdjęcie.png" alt="Moje zdjęcie" class="about-image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec velit nisl. Nam pellentesque, dui sit amet congue congue, nisi massa gravida elit, vitae placerat nibh purus at justo. Curabitur ut aliquet erat. In hendrerit semper faucibus. Vestibulum dolor erat, maximus pharetra dictum semper, porta a lorem. Nullam nec posuere felis. Integer ultricies mauris augue, ac aliquet ligula vulputate non. Nulla ornare, lectus eu pulvinar commodo, ligula urna suscipit arcu, sed semper libero justo a lectus. Fusce ullamcorper nisl congue nisl imperdiet, in venenatis arcu fringilla. Maecenas commodo ipsum risus, id porta dolor viverra sit amet. Nulla et tellus posuere, facilisis massa sed, egestas libero. Vestibulum id vulputate augue. Donec eu consectetur nunc.</p>
            <div class="icon-links">
                <a href="https://github.com/damianlebiedz" target="_blank" class="icon-link">
                    <img src="/assets/images/github-logo.png" alt="Github logo" class="icon-image">
                    <i class="fab fa-github"></i>
                </a>
                <p>GitHub</p>
                <a href="https:/linkedin.com/in/damian-lebied%C5%BA-440855336" target="_blank" class="icon-link">
                    <img src="/assets/images/linkedin-logo.png" alt="Github logo" class="icon-image">
                    <i class="fas fa-external-link-alt"></i>
                </a>
                <p>Gmail</p>
            </div>

        </section>
        

        <!-- Sekcja Umiejętności -->
        <section id="umiejetnosci">
            <div class="header-container">
                <div class="header-line"></div>
                <h1>Umiejętności</h1>
                <div class="header-line"></div>
            </div>
            <div class="skills-list">
                <a href="link-do-skilla-1.html" class="skill-tile">
                    <div class="project-content">
                        <h3>Skill 1</h3>
                        <p>Krótki opis skilla 1</p>
                    </div>
                </a>
                <a href="link-do-skilla-2.html" class="skill-tile">
                    <div class="project-content">
                        <h3>Skill 2</h3>
                        <p>Krótki opis skilla 2</p>
                    </div>
                </a>
                <a href="link-do-skilla-3.html" class="skill-tile">
                    <div class="project-content">
                        <h3>Skill 3</h3>
                        <p>Krótki opis skilla 3</p>
                    </div>
                </a>
                <a href="link-do-skilla-4.html" class="skill-tile">
                    <div class="project-content">
                        <h3>Skill 4</h3>
                        <p>Krótki opis skilla 4</p>
                    </div>
                </a>
                <a href="link-do-skilla-5.html" class="skill-tile">
                    <div class="project-content">
                        <h3>Skill 5</h3>
                        <p>Krótki opis skilla 5</p>
                    </div>
                </a>
                <a href="link-do-skilla-6.html" class="skill-tile">
                    <div class="project-content">
                        <h3>Skill 6</h3>
                        <p>Krótki opis skilla 6</p>
                    </div>
                </a>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        <p>
          Official SpaceX Photos, <a href="https://flic.kr/p/2ogMtiM">Starlink Mission | SLC-40</a>,
          zdjęcie użyte na licencji <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>.
      </p>
      <a href="https://www.flaticon.com/free-icons/cat" title="cat icons">Cat icons created by Dave Gandy - Flaticon</a>
      <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by riajulislam - Flaticon</a>
    </footer>

    <script>
        document.querySelectorAll('.nav-button').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            });
        });
    </script>

</body>
</html>
